/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(60,192,153,1) 12%, rgba(45,171,253,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  
  /* Conteneur du formulaire */
  .container {
    background: rgb(204, 226, 241);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  /* Style du formulaire */
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Bouton */
  .signup-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  
 /* Style du formulaire */
.login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } 
  /* Bouton */
.login-form button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #218838;
  }